.divCars {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 30px;
border-radius: 10%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.divInner{
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.divCars:hover {
  transform: rotateY(180deg);
}

.frontCard, .backCard{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.backCard{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  transform: rotateY(180deg);
  text-decoration: none;
  border-radius: 10%;
}

.divCars img {
  height: 200px;
  width: 200px;
}
.divCars h3 {
  margin: auto;
  margin-top: 10px;
  font-family: "Luckiest Guy", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.backCard h2, h3{
  font-family: "Luckiest Guy", cursive;
  text-decoration: underline;
}

.typeName {
  text-decoration: none;
  color: black
}