.divCardsConteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    background-image: url('../../img/landing_fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;


    
}

.divCardsConteiner .divCardsByName{
    display: inline;
    padding: 0px;
}